@media only screen and (min-width: 767px){
  body{
  }
}
.list-group{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.btn-group{
  margin-bottom: 30px;
  margin-top: 50px;
}

.dropdown {
}

