html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    max-width: 1000px;
     height: auto;
  margin: 5vh auto 5vh auto;
  border:10px solid rgba(0,0,0,0.8);
  border-bottom-width: 70px;
  border-radius:10px;
  box-shadow:0 0 50px  rgba(0,0,0,0.3);
}

main {
    border-bottom: 2px solid red;
}

.container {
    display: flex;
    border-bottom: 3px grey solid;
    margin-bottom: 25px;
    justify-content: center;
}

.container2 {
    display: inline-flex;
    max-height: 200px;
    border-bottom: 3px grey solid;
    padding-bottom: 25px;
    justify-content: center;
}


.udacity {
    max-height: 100%;
    max-width: 100%;
    padding: 15px 0;
}

.div1 {
    flex: 0 0 120px;
    align-self: center;
    margin-left: 50px;
    text-align: center;
}

.div2 {
    flex: 0 1 250px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.div3 {
    flex: 1 1 100%;
    align-self: center;
    padding: 15px;
    margin: 14px;
}

.div2 > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  
}

.name {
    text-align: right;
    font-size: 40px;
}

.title {
    font-size: 20px;
    text-align: right;
}


.herocont {
    display: flex;
    max-height: 300px;
    margin-top: 10px;
    justify-content: center;
}

.div4 {
    padding-left: 30px;
    flex: 1 1 50%;
    min-width: 411px;
    max-height: 100%;
}

.div5 {
    flex: 1 1 40%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.div6 {
    list-style-image: url('img/checkmark.gif');
}

.heroimg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 4px;
  box-shadow:0 0 50px  rgba(0,0,0,0.3);
}



.projectcontainer {
    display: flex;
    max-height: 200px;
    border: black solid;
    justify-content: center;
}

.projectcontainer > img {
    object-fit: contain;
}

.text {
    text-align: center;
    margin: 10px;
}

footer{
    display: flex;
    justify-content: center;
}

@media all and (max-width: 565px) {
    
    
    .container {
        flex-wrap: wrap;
        height: auto;
    }
    .title{
        text-align: center;
        
    }
    .div1 {
        margin-left: 0;
        flex: 1 1 120px;
    }
    .name{
        text-align: center;
    }
    
    .div3 {
        padding: 0;
        margin: 0;
    }
    .div4{
        flex-basis: 100%;
        padding: 1px;
        min-width: 0;
        max-width: 411px;
    }
    
    .div5{
        text-align: left;
    }
    .herocont{
        flex-wrap: wrap;
        margin-bottom:50px;
        padding-bottom: 50px;
        max-height: 100%;
    }
    .udacity {
        max-width: 80px; 
        }
    .herocont{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
}
}