.container {
    display: flex;
    border: saddlebrown solid;
    height: 200px;
}

.container > div {
    flex: 1 1 100%;
    padding: 20px;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tutti{
    width: 800px;
    margin: 0 auto;
}