body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
}

nav h1 {
    height: 80px;
}

nav h1 a {
    font-size: 36px;
}


#restaurants-list {
    justify-content: space-evenly;
}
 #restaurants-list li {
     width: 24.3%;
     margin-bottom: 1px;
 }

 .filter-options h2 {
    font-size: 26px;
 }