nav h1 {
  height: 60px;
}

nav h1 a {
  font-size: 32px;
}
#restaurants-list li {
  background-color: #fff;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
      justify-content: space-around;
      flex-wrap: wrap;
      height: 100px;
    }
    
    .filter-options h2 {
      width: 140px;
    }
    .filter-options label {
      width: 30%;
    }

    /* ====================== Restaurant Listing ====================== */
    #restaurants-list {
        background-color: #f3f3f3;
        list-style: outside none none;
        margin: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
      }
    #restaurants-list li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      font-family: Arial,sans-serif;
      text-align: center;
      width: 32%
    }
    #restaurants-list .restaurant-img {
      background-color: #ccc;
      max-width: 100%;
    }
    #restaurants-list li h1 {   
      color: #f18200;
      font-family: Arial,sans-serif;
      font-size: 16pt;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 20px 0 10px;
      text-transform: uppercase;
      vertical-align: text-bottom;
    }
    #restaurants-list p {
      margin-bottom: auto;
      font-size: 13pt;
    }